PORT=3504
TELEGRAM_BOT_TOKEN=8358723798:AAGtTrRJS2oICuwVELGOToVjj3IRKh3XV6A
TON_WALLET_ADDRESS=UQC_yH5An22htsx0yOt__orGDks_Pxv7kyUiM_pS77nbLe6o
TONCENTER_API_KEY=88a99a3cddf24890dd3bf5040bf560e6c2343aee9f5707a71786eae2b19c729b

DATABASE_URL="postgresql://postgres:qwerty@localhost:5432/taskbot"
PAYMENT_LINK="http://localhost:3001"

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redis_password